<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="crank_lidar">

    <!-- Defining the colors used in this robot -->
    <material name="Black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="White">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="Blue">
        <color rgba="0 0 1 1"/>
    </material>

    <material name="Red">
        <color rgba="1 0 0 1"/>
    </material>

    <!-- Constants -->
    <xacro:property name="M_PI" value="3.14159"/>

    <!-- link1 properties -->
    <xacro:property name="link1_width" value="0.003" />
    <xacro:property name="link1_len" value="0.2" />

    <!-- inertial matrix -->
    <xacro:macro name="inertial_matrix" params="mass">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="0.5" iyz="0.0" izz="1.0" />
        </inertial>
    </xacro:macro>

    <!-- /////////////////////////////////////////////////////////// -->
  

    <xacro:include filename="$(find livox_simulation)/urdf/livox_mid.urdf.xacro"/>
    <xacro:Livox_Mid40 name="livox"/>

</robot>